<div class="row">
    <div class="col">
        <form role="form" method="POST" action="/SavePost">
            <input type="hidden" name="id" value="{{.Id}}" />
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{.Title}}"  />
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea  class="form-control" id="content" name="content" rows="3">{{.ContentMarkdown}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-danger" href="/delete/{{.Id}}" role="button">Delete</a>
        </form>

    </div>
    <div class="col" id="md_html">
        {{if .ContentHtml }}
            {{.ContentHtml | unescape }}
        {{end}}
    </div>
</div>

<script type="text/javascript" src="/assets/js/write.js"></script>